@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
    color: white;
}

body {
    background-image: url('https://images.wallpapersden.com/image/download/fe-game_am1sbm6UmZqaraWkpJRobWllrWdma2U.jpg');
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}
#score {
    font-size: 1.5em;
    padding-left: 20px;
    padding-top: 20px;
    position: absolute;
}

#time {
    font-size: 1.5em;
}

#slider {
    width: 100vw;
    height: 5px;
    background-color: grey;
    margin-top: 700px;
    display: flex;
    align-items: center;
}
#target {
    width: 12%;
    position: absolute;
    animation: move 3.5s infinite linear;
}

@keyframes move {
    0% {
        left: 0%;
    }
    50% {
        left: 88%;
    }
    100% {
        left: 0%;
    }
}
img {  
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
 }
 #time {
     display: flex;
     justify-content: flex-end;
     padding-right: 20px;
     padding-top: 20px;
 }